<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>.null</key>
  <string>_null.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>AE</key>
  <string>A_E_.glif</string>
  <key>Aacute</key>
  <string>A_acute.glif</string>
  <key>Accent</key>
  <string>A_ccent.glif</string>
  <key>Acircumflex</key>
  <string>A_circumflex.glif</string>
  <key>Acute</key>
  <string>A_cute.glif</string>
  <key>Adieresis</key>
  <string>A_dieresis.glif</string>
  <key>Agrave</key>
  <string>A_grave.glif</string>
  <key>Apostrophe</key>
  <string>A_postrophe.glif</string>
  <key>Aring</key>
  <string>A_ring.glif</string>
  <key>Atilde</key>
  <string>A_tilde.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>Caron</key>
  <string>C_aron.glif</string>
  <key>Ccedilla</key>
  <string>C_cedilla.glif</string>
  <key>Cedilla</key>
  <string>C_edilla.glif</string>
  <key>Circumflex</key>
  <string>C_ircumflex.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>Delta</key>
  <string>D_elta.glif</string>
  <key>Delta.tab</key>
  <string>D_elta.tab.glif</string>
  <key>Dieresis</key>
  <string>D_ieresis.glif</string>
  <key>Dotaccent</key>
  <string>D_otaccent.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>Eacute</key>
  <string>E_acute.glif</string>
  <key>Ecircumflex</key>
  <string>E_circumflex.glif</string>
  <key>Edieresis</key>
  <string>E_dieresis.glif</string>
  <key>Egrave</key>
  <string>E_grave.glif</string>
  <key>Eth</key>
  <string>E_th.glif</string>
  <key>Euro</key>
  <string>E_uro.glif</string>
  <key>Euro.tab</key>
  <string>E_uro.tab.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>Germandbls</key>
  <string>G_ermandbls.glif</string>
  <key>Grave</key>
  <string>G_rave.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>Hungarumlaut</key>
  <string>H_ungarumlaut.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>Iacute</key>
  <string>I_acute.glif</string>
  <key>Icircumflex</key>
  <string>I_circumflex.glif</string>
  <key>Idieresis</key>
  <string>I_dieresis.glif</string>
  <key>Igrave</key>
  <string>I_grave.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>Lslash</key>
  <string>L_slash.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>Macron</key>
  <string>M_acron.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>Ntilde</key>
  <string>N_tilde.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>OE</key>
  <string>O_E_.glif</string>
  <key>Oacute</key>
  <string>O_acute.glif</string>
  <key>Ocircumflex</key>
  <string>O_circumflex.glif</string>
  <key>Odieresis</key>
  <string>O_dieresis.glif</string>
  <key>Ograve</key>
  <string>O_grave.glif</string>
  <key>Oslash</key>
  <string>O_slash.glif</string>
  <key>Otilde</key>
  <string>O_tilde.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>Ring</key>
  <string>R_ing.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>Scaron</key>
  <string>S_caron.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>Thorn</key>
  <string>T_horn.glif</string>
  <key>Tilde</key>
  <string>T_ilde.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>Uacute</key>
  <string>U_acute.glif</string>
  <key>Ucircumflex</key>
  <string>U_circumflex.glif</string>
  <key>Udieresis</key>
  <string>U_dieresis.glif</string>
  <key>Ugrave</key>
  <string>U_grave.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Yacute</key>
  <string>Y_acute.glif</string>
  <key>Ydieresis</key>
  <string>Y_dieresis.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>Zcaron</key>
  <string>Z_caron.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>aacute</key>
  <string>aacute.glif</string>
  <key>accent</key>
  <string>accent.glif</string>
  <key>acircumflex</key>
  <string>acircumflex.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>adieresis</key>
  <string>adieresis.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>afii10017</key>
  <string>afii10017.glif</string>
  <key>afii10018</key>
  <string>afii10018.glif</string>
  <key>afii10019</key>
  <string>afii10019.glif</string>
  <key>afii10020</key>
  <string>afii10020.glif</string>
  <key>afii10021</key>
  <string>afii10021.glif</string>
  <key>afii10022</key>
  <string>afii10022.glif</string>
  <key>afii10023</key>
  <string>afii10023.glif</string>
  <key>afii10024</key>
  <string>afii10024.glif</string>
  <key>afii10025</key>
  <string>afii10025.glif</string>
  <key>afii10026</key>
  <string>afii10026.glif</string>
  <key>afii10027</key>
  <string>afii10027.glif</string>
  <key>afii10028</key>
  <string>afii10028.glif</string>
  <key>afii10029</key>
  <string>afii10029.glif</string>
  <key>afii10030</key>
  <string>afii10030.glif</string>
  <key>afii10031</key>
  <string>afii10031.glif</string>
  <key>afii10032</key>
  <string>afii10032.glif</string>
  <key>afii10033</key>
  <string>afii10033.glif</string>
  <key>afii10034</key>
  <string>afii10034.glif</string>
  <key>afii10035</key>
  <string>afii10035.glif</string>
  <key>afii10036</key>
  <string>afii10036.glif</string>
  <key>afii10037</key>
  <string>afii10037.glif</string>
  <key>afii10038</key>
  <string>afii10038.glif</string>
  <key>afii10039</key>
  <string>afii10039.glif</string>
  <key>afii10040</key>
  <string>afii10040.glif</string>
  <key>afii10041</key>
  <string>afii10041.glif</string>
  <key>afii10042</key>
  <string>afii10042.glif</string>
  <key>afii10043</key>
  <string>afii10043.glif</string>
  <key>afii10044</key>
  <string>afii10044.glif</string>
  <key>afii10045</key>
  <string>afii10045.glif</string>
  <key>afii10046</key>
  <string>afii10046.glif</string>
  <key>afii10047</key>
  <string>afii10047.glif</string>
  <key>afii10048</key>
  <string>afii10048.glif</string>
  <key>afii10049</key>
  <string>afii10049.glif</string>
  <key>afii10050</key>
  <string>afii10050.glif</string>
  <key>afii10051</key>
  <string>afii10051.glif</string>
  <key>afii10052</key>
  <string>afii10052.glif</string>
  <key>afii10053</key>
  <string>afii10053.glif</string>
  <key>afii10054</key>
  <string>afii10054.glif</string>
  <key>afii10055</key>
  <string>afii10055.glif</string>
  <key>afii10056</key>
  <string>afii10056.glif</string>
  <key>afii10057</key>
  <string>afii10057.glif</string>
  <key>afii10058</key>
  <string>afii10058.glif</string>
  <key>afii10059</key>
  <string>afii10059.glif</string>
  <key>afii10060</key>
  <string>afii10060.glif</string>
  <key>afii10061</key>
  <string>afii10061.glif</string>
  <key>afii10062</key>
  <string>afii10062.glif</string>
  <key>afii10065</key>
  <string>afii10065.glif</string>
  <key>afii10066</key>
  <string>afii10066.glif</string>
  <key>afii10067</key>
  <string>afii10067.glif</string>
  <key>afii10068</key>
  <string>afii10068.glif</string>
  <key>afii10069</key>
  <string>afii10069.glif</string>
  <key>afii10070</key>
  <string>afii10070.glif</string>
  <key>afii10071</key>
  <string>afii10071.glif</string>
  <key>afii10072</key>
  <string>afii10072.glif</string>
  <key>afii10073</key>
  <string>afii10073.glif</string>
  <key>afii10074</key>
  <string>afii10074.glif</string>
  <key>afii10075</key>
  <string>afii10075.glif</string>
  <key>afii10076</key>
  <string>afii10076.glif</string>
  <key>afii10077</key>
  <string>afii10077.glif</string>
  <key>afii10078</key>
  <string>afii10078.glif</string>
  <key>afii10079</key>
  <string>afii10079.glif</string>
  <key>afii10080</key>
  <string>afii10080.glif</string>
  <key>afii10081</key>
  <string>afii10081.glif</string>
  <key>afii10082</key>
  <string>afii10082.glif</string>
  <key>afii10083</key>
  <string>afii10083.glif</string>
  <key>afii10084</key>
  <string>afii10084.glif</string>
  <key>afii10085</key>
  <string>afii10085.glif</string>
  <key>afii10086</key>
  <string>afii10086.glif</string>
  <key>afii10087</key>
  <string>afii10087.glif</string>
  <key>afii10088</key>
  <string>afii10088.glif</string>
  <key>afii10089</key>
  <string>afii10089.glif</string>
  <key>afii10090</key>
  <string>afii10090.glif</string>
  <key>afii10091</key>
  <string>afii10091.glif</string>
  <key>afii10092</key>
  <string>afii10092.glif</string>
  <key>afii10093</key>
  <string>afii10093.glif</string>
  <key>afii10094</key>
  <string>afii10094.glif</string>
  <key>afii10095</key>
  <string>afii10095.glif</string>
  <key>afii10096</key>
  <string>afii10096.glif</string>
  <key>afii10097</key>
  <string>afii10097.glif</string>
  <key>afii10098</key>
  <string>afii10098.glif</string>
  <key>afii10099</key>
  <string>afii10099.glif</string>
  <key>afii10100</key>
  <string>afii10100.glif</string>
  <key>afii10101</key>
  <string>afii10101.glif</string>
  <key>afii10102</key>
  <string>afii10102.glif</string>
  <key>afii10103</key>
  <string>afii10103.glif</string>
  <key>afii10104</key>
  <string>afii10104.glif</string>
  <key>afii10105</key>
  <string>afii10105.glif</string>
  <key>afii10106</key>
  <string>afii10106.glif</string>
  <key>afii10107</key>
  <string>afii10107.glif</string>
  <key>afii10108</key>
  <string>afii10108.glif</string>
  <key>afii10109</key>
  <string>afii10109.glif</string>
  <key>afii10110</key>
  <string>afii10110.glif</string>
  <key>afii10145</key>
  <string>afii10145.glif</string>
  <key>afii10193</key>
  <string>afii10193.glif</string>
  <key>afii57929</key>
  <string>afii57929.glif</string>
  <key>afii61352</key>
  <string>afii61352.glif</string>
  <key>agrave</key>
  <string>agrave.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>angleleft</key>
  <string>angleleft.glif</string>
  <key>angleright</key>
  <string>angleright.glif</string>
  <key>approxequal</key>
  <string>approxequal.glif</string>
  <key>approxequal.tab</key>
  <string>approxequal.tab.glif</string>
  <key>aring</key>
  <string>aring.glif</string>
  <key>arrowdown</key>
  <string>arrowdown.glif</string>
  <key>arrowleft</key>
  <string>arrowleft.glif</string>
  <key>arrownortheast</key>
  <string>arrownortheast.glif</string>
  <key>arrownorthwest</key>
  <string>arrownorthwest.glif</string>
  <key>arrowright</key>
  <string>arrowright.glif</string>
  <key>arrowsoutheast</key>
  <string>arrowsoutheast.glif</string>
  <key>arrowsouthwest</key>
  <string>arrowsouthwest.glif</string>
  <key>arrowup</key>
  <string>arrowup.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asciitilde.tab</key>
  <string>asciitilde.tab.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>atilde</key>
  <string>atilde.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceleft.case</key>
  <string>braceleft.case.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>braceright.case</key>
  <string>braceright.case.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketleft.case</key>
  <string>bracketleft.case.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>bracketright.case</key>
  <string>bracketright.case.glif</string>
  <key>brokenbar</key>
  <string>brokenbar.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>caron</key>
  <string>caron.glif</string>
  <key>ccedilla</key>
  <string>ccedilla.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>cent.tab</key>
  <string>cent.tab.glif</string>
  <key>circumflex</key>
  <string>circumflex.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>currency.tab</key>
  <string>currency.tab.glif</string>
  <key>cyrAE</key>
  <string>cyrA_E_.glif</string>
  <key>cyrAcyrbreve</key>
  <string>cyrA_cyrbreve.glif</string>
  <key>cyrAdieresis</key>
  <string>cyrA_dieresis.glif</string>
  <key>cyrBreve</key>
  <string>cyrB_reve.glif</string>
  <key>cyrChedesc</key>
  <string>cyrC_hedesc.glif</string>
  <key>cyrChedescleft</key>
  <string>cyrC_hedescleft.glif</string>
  <key>cyrChedieresis</key>
  <string>cyrC_hedieresis.glif</string>
  <key>cyrChevertbar</key>
  <string>cyrC_hevertbar.glif</string>
  <key>cyrEnGe</key>
  <string>cyrE_nG_e.glif</string>
  <key>cyrEnhook</key>
  <string>cyrE_nhook.glif</string>
  <key>cyrEstail</key>
  <string>cyrE_stail.glif</string>
  <key>cyrEstail.alt02</key>
  <string>cyrE_stail.alt02.glif</string>
  <key>cyrGebar</key>
  <string>cyrG_ebar.glif</string>
  <key>cyrGebar.alt</key>
  <string>cyrG_ebar.alt.glif</string>
  <key>cyrGehook</key>
  <string>cyrG_ehook.glif</string>
  <key>cyrHadesc</key>
  <string>cyrH_adesc.glif</string>
  <key>cyrI</key>
  <string>cyrI_.glif</string>
  <key>cyrIdieresis</key>
  <string>cyrI_dieresis.glif</string>
  <key>cyrIecyrbreve</key>
  <string>cyrI_ecyrbreve.glif</string>
  <key>cyrImacron</key>
  <string>cyrI_macron.glif</string>
  <key>cyrKaback</key>
  <string>cyrK_aback.glif</string>
  <key>cyrKadesc</key>
  <string>cyrK_adesc.glif</string>
  <key>cyrKahook</key>
  <string>cyrK_ahook.glif</string>
  <key>cyrKavertbar</key>
  <string>cyrK_avertbar.glif</string>
  <key>cyrObardieresis</key>
  <string>cyrO_bardieresis.glif</string>
  <key>cyrOdieresis</key>
  <string>cyrO_dieresis.glif</string>
  <key>cyrUdblacute</key>
  <string>cyrU_dblacute.glif</string>
  <key>cyrUdieresis</key>
  <string>cyrU_dieresis.glif</string>
  <key>cyrUmacron</key>
  <string>cyrU_macron.glif</string>
  <key>cyrYerucyrbreve</key>
  <string>cyrY_erucyrbreve.glif</string>
  <key>cyrYerudieresis</key>
  <string>cyrY_erudieresis.glif</string>
  <key>cyrZedieresis</key>
  <string>cyrZ_edieresis.glif</string>
  <key>cyrZetail</key>
  <string>cyrZ_etail.glif</string>
  <key>cyrZhedieresis</key>
  <string>cyrZ_hedieresis.glif</string>
  <key>cyracyrbreve</key>
  <string>cyracyrbreve.glif</string>
  <key>cyradieresis</key>
  <string>cyradieresis.glif</string>
  <key>cyrae</key>
  <string>cyrae.glif</string>
  <key>cyrbreve</key>
  <string>cyrbreve.glif</string>
  <key>cyrchedesc</key>
  <string>cyrchedesc.glif</string>
  <key>cyrchedescleft</key>
  <string>cyrchedescleft.glif</string>
  <key>cyrchedieresis</key>
  <string>cyrchedieresis.glif</string>
  <key>cyrchevertbar</key>
  <string>cyrchevertbar.glif</string>
  <key>cyrenge</key>
  <string>cyrenge.glif</string>
  <key>cyrenhook</key>
  <string>cyrenhook.glif</string>
  <key>cyrestail</key>
  <string>cyrestail.glif</string>
  <key>cyrestail.alt02</key>
  <string>cyrestail.alt02.glif</string>
  <key>cyrgebar</key>
  <string>cyrgebar.glif</string>
  <key>cyrgebar.alt</key>
  <string>cyrgebar.alt.glif</string>
  <key>cyrgehook</key>
  <string>cyrgehook.glif</string>
  <key>cyrhadesc</key>
  <string>cyrhadesc.glif</string>
  <key>cyridieresis</key>
  <string>cyridieresis.glif</string>
  <key>cyriecyrbreve</key>
  <string>cyriecyrbreve.glif</string>
  <key>cyrimacron</key>
  <string>cyrimacron.glif</string>
  <key>cyrinvEdieresis</key>
  <string>cyrinvE_dieresis.glif</string>
  <key>cyrinvedieresis</key>
  <string>cyrinvedieresis.glif</string>
  <key>cyrkaback</key>
  <string>cyrkaback.glif</string>
  <key>cyrkadesc</key>
  <string>cyrkadesc.glif</string>
  <key>cyrkahook</key>
  <string>cyrkahook.glif</string>
  <key>cyrkavertbar</key>
  <string>cyrkavertbar.glif</string>
  <key>cyrobardieresis</key>
  <string>cyrobardieresis.glif</string>
  <key>cyrodieresis</key>
  <string>cyrodieresis.glif</string>
  <key>cyrstraightUbar</key>
  <string>cyrstraightU_bar.glif</string>
  <key>cyrstraightubar</key>
  <string>cyrstraightubar.glif</string>
  <key>cyrudblacute</key>
  <string>cyrudblacute.glif</string>
  <key>cyrudieresis</key>
  <string>cyrudieresis.glif</string>
  <key>cyrumacron</key>
  <string>cyrumacron.glif</string>
  <key>cyryerucyrbreve</key>
  <string>cyryerucyrbreve.glif</string>
  <key>cyryerudieresis</key>
  <string>cyryerudieresis.glif</string>
  <key>cyrzedieresis</key>
  <string>cyrzedieresis.glif</string>
  <key>cyrzetail</key>
  <string>cyrzetail.glif</string>
  <key>cyrzhedieresis</key>
  <string>cyrzhedieresis.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>divide.tab</key>
  <string>divide.tab.glif</string>
  <key>division</key>
  <string>division.glif</string>
  <key>division.tab</key>
  <string>division.tab.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>dollar.tab</key>
  <string>dollar.tab.glif</string>
  <key>dotaccent</key>
  <string>dotaccent.glif</string>
  <key>dotlessi</key>
  <string>dotlessi.glif</string>
  <key>dotlessj</key>
  <string>dotlessj.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>eacute</key>
  <string>eacute.glif</string>
  <key>ecircumflex</key>
  <string>ecircumflex.glif</string>
  <key>edieresis</key>
  <string>edieresis.glif</string>
  <key>egrave</key>
  <string>egrave.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>eight.tab</key>
  <string>eight.tab.glif</string>
  <key>eightoldstyle</key>
  <string>eightoldstyle.glif</string>
  <key>eightoldstyle.tab</key>
  <string>eightoldstyle.tab.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>equal.tab</key>
  <string>equal.tab.glif</string>
  <key>eth</key>
  <string>eth.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>figuredash</key>
  <string>figuredash.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>five.tab</key>
  <string>five.tab.glif</string>
  <key>fiveoldstyle</key>
  <string>fiveoldstyle.glif</string>
  <key>fiveoldstyle.tab</key>
  <string>fiveoldstyle.tab.glif</string>
  <key>florin</key>
  <string>florin.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>four.tab</key>
  <string>four.tab.glif</string>
  <key>fouroldstyle</key>
  <string>fouroldstyle.glif</string>
  <key>fouroldstyle.tab</key>
  <string>fouroldstyle.tab.glif</string>
  <key>foursuperior</key>
  <string>foursuperior.glif</string>
  <key>fraction</key>
  <string>fraction.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>germandbls</key>
  <string>germandbls.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>greater.tab</key>
  <string>greater.tab.glif</string>
  <key>greaterequal</key>
  <string>greaterequal.glif</string>
  <key>greaterequal.tab</key>
  <string>greaterequal.tab.glif</string>
  <key>guillemotleft</key>
  <string>guillemotleft.glif</string>
  <key>guillemotright</key>
  <string>guillemotright.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>hungarumlaut</key>
  <string>hungarumlaut.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>iacute</key>
  <string>iacute.glif</string>
  <key>icircumflex</key>
  <string>icircumflex.glif</string>
  <key>idieresis</key>
  <string>idieresis.glif</string>
  <key>igrave</key>
  <string>igrave.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>less.tab</key>
  <string>less.tab.glif</string>
  <key>lessequal</key>
  <string>lessequal.glif</string>
  <key>lessequal.tab</key>
  <string>lessequal.tab.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>logicalnot.tab</key>
  <string>logicalnot.tab.glif</string>
  <key>lslash</key>
  <string>lslash.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>macron</key>
  <string>macron.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>minus.tab</key>
  <string>minus.tab.glif</string>
  <key>mu</key>
  <string>mu.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>multiply.tab</key>
  <string>multiply.tab.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>nine.tab</key>
  <string>nine.tab.glif</string>
  <key>nineoldstyle</key>
  <string>nineoldstyle.glif</string>
  <key>nineoldstyle.tab</key>
  <string>nineoldstyle.tab.glif</string>
  <key>ntilde</key>
  <string>ntilde.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>numbersign.tab</key>
  <string>numbersign.tab.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>oacute</key>
  <string>oacute.glif</string>
  <key>ocircumflex</key>
  <string>ocircumflex.glif</string>
  <key>odieresis</key>
  <string>odieresis.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>ograve</key>
  <string>ograve.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>one.tab</key>
  <string>one.tab.glif</string>
  <key>onehalf</key>
  <string>onehalf.glif</string>
  <key>oneoldstyle</key>
  <string>oneoldstyle.glif</string>
  <key>oneoldstyle.tab</key>
  <string>oneoldstyle.tab.glif</string>
  <key>onequarter</key>
  <string>onequarter.glif</string>
  <key>onesuperior</key>
  <string>onesuperior.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>ordmasculine</key>
  <string>ordmasculine.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>otilde</key>
  <string>otilde.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenleft.case</key>
  <string>parenleft.case.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>parenright.case</key>
  <string>parenright.case.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>perthousand</key>
  <string>perthousand.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>plus.tab</key>
  <string>plus.tab.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>plusminus.tab</key>
  <string>plusminus.tab.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotedblbase</key>
  <string>quotedblbase.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>radical</key>
  <string>radical.glif</string>
  <key>radical.tab</key>
  <string>radical.tab.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>ring</key>
  <string>ring.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>scaron</key>
  <string>scaron.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>seven.tab</key>
  <string>seven.tab.glif</string>
  <key>sevenoldstyle</key>
  <string>sevenoldstyle.glif</string>
  <key>sevenoldstyle.tab</key>
  <string>sevenoldstyle.tab.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>six.tab</key>
  <string>six.tab.glif</string>
  <key>sixoldstyle</key>
  <string>sixoldstyle.glif</string>
  <key>sixoldstyle.tab</key>
  <string>sixoldstyle.tab.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>thorn</key>
  <string>thorn.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>three.tab</key>
  <string>three.tab.glif</string>
  <key>threeoldstyle</key>
  <string>threeoldstyle.glif</string>
  <key>threeoldstyle.tab</key>
  <string>threeoldstyle.tab.glif</string>
  <key>threequarters</key>
  <string>threequarters.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>two.tab</key>
  <string>two.tab.glif</string>
  <key>twooldstyle</key>
  <string>twooldstyle.glif</string>
  <key>twooldstyle.tab</key>
  <string>twooldstyle.tab.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>uacute</key>
  <string>uacute.glif</string>
  <key>ucircumflex</key>
  <string>ucircumflex.glif</string>
  <key>udieresis</key>
  <string>udieresis.glif</string>
  <key>ugrave</key>
  <string>ugrave.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>uni000D</key>
  <string>uni000D_.glif</string>
  <key>uni00A0</key>
  <string>uni00A_0.glif</string>
  <key>uni00AD</key>
  <string>uni00A_D_.glif</string>
  <key>uni0496</key>
  <string>uni0496.glif</string>
  <key>uni0497</key>
  <string>uni0497.glif</string>
  <key>uni04A2</key>
  <string>uni04A_2.glif</string>
  <key>uni04A3</key>
  <string>uni04A_3.glif</string>
  <key>uni04AE</key>
  <string>uni04A_E_.glif</string>
  <key>uni04AF</key>
  <string>uni04A_F_.glif</string>
  <key>uni04BA</key>
  <string>uni04B_A_.glif</string>
  <key>uni04BB</key>
  <string>uni04B_B_.glif</string>
  <key>uni04CF</key>
  <string>uni04C_F_.glif</string>
  <key>uni04D8</key>
  <string>uni04D_8.glif</string>
  <key>uni04D9</key>
  <string>uni04D_9.glif</string>
  <key>uni04E8</key>
  <string>uni04E_8.glif</string>
  <key>uni04E9</key>
  <string>uni04E_9.glif</string>
  <key>uni0512</key>
  <string>uni0512.glif</string>
  <key>uni0513</key>
  <string>uni0513.glif</string>
  <key>uni2009</key>
  <string>uni2009.glif</string>
  <key>uni2010</key>
  <string>uni2010.glif</string>
  <key>uni2011</key>
  <string>uni2011.glif</string>
  <key>uni202F</key>
  <string>uni202F_.glif</string>
  <key>uni20B4</key>
  <string>uni20B_4.glif</string>
  <key>uni20B4.tab</key>
  <string>uni20B_4.tab.glif</string>
  <key>uni20B8</key>
  <string>uni20B_8.glif</string>
  <key>uni20B8.tab</key>
  <string>uni20B_8.tab.glif</string>
  <key>uni20BD</key>
  <string>uni20B_D_.glif</string>
  <key>uni20BD.tab</key>
  <string>uni20B_D_.tab.glif</string>
  <key>uniF6BA</key>
  <string>uniF_6B_A_.glif</string>
  <key>uniF6BB</key>
  <string>uniF_6B_B_.glif</string>
  <key>uniF6BC</key>
  <string>uniF_6B_C_.glif</string>
  <key>uniFEFF</key>
  <string>uniF_E_F_F_.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>wordjoiner</key>
  <string>wordjoiner.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>yacute</key>
  <string>yacute.glif</string>
  <key>ydieresis</key>
  <string>ydieresis.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>yen.tab</key>
  <string>yen.tab.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zcaron</key>
  <string>zcaron.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>zero.tab</key>
  <string>zero.tab.glif</string>
  <key>zerooldstyle</key>
  <string>zerooldstyle.glif</string>
  <key>zerooldstyle.tab</key>
  <string>zerooldstyle.tab.glif</string>
</dict>
</plist>
