<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1._A_left</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>public.kern1._B_left</key>
	<array>
		<string>B</string>
		<string>uni1E9E</string>
	</array>
	<key>public.kern1._E_left</key>
	<array>
		<string>AE</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>OE</string>
	</array>
	<key>public.kern1._H_left</key>
	<array>
		<string>H</string>
		<string>I</string>
		<string>Igrave</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
	</array>
	<key>public.kern1._I_accented_left</key>
	<array>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
	</array>
	<key>public.kern1._L_left</key>
	<array>
		<string>L</string>
		<string>Lslash</string>
	</array>
	<key>public.kern1._O_left</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
		<string>D</string>
		<string>Eth</string>
		<string>G</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Otilde</string>
	</array>
	<key>public.kern1._S_left</key>
	<array>
		<string>S</string>
		<string>Scaron</string>
	</array>
	<key>public.kern1._U_left</key>
	<array>
		<string>J</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
	</array>
	<key>public.kern1._X_left</key>
	<array>
		<string>K</string>
		<string>X</string>
	</array>
	<key>public.kern1._Y_left</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>public.kern1._Z_left</key>
	<array>
		<string>Z</string>
		<string>Zcaron</string>
	</array>
	<key>public.kern1._c_left</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
	</array>
	<key>public.kern1._colon_left</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>public.kern1._cyrA_left</key>
	<array>
		<string>uni0410</string>
		<string>uni04D0</string>
		<string>uni04D2</string>
	</array>
	<key>public.kern1._cyr_De_left</key>
	<array>
		<string>uni0414</string>
		<string>uni0426</string>
		<string>uni0429</string>
		<string>uni04A2</string>
		<string>uni04B6</string>
	</array>
	<key>public.kern1._cyr_En_left</key>
	<array>
		<string>uni0418</string>
		<string>uni0419</string>
		<string>uni041B</string>
		<string>uni041C</string>
		<string>uni041D</string>
		<string>uni041F</string>
		<string>uni0427</string>
		<string>uni0428</string>
		<string>uni040F</string>
		<string>uni042B</string>
		<string>uni0406</string>
		<string>uni042F</string>
		<string>uni04B8</string>
		<string>uni04C0</string>
		<string>uni04C7</string>
		<string>uni04CB</string>
		<string>uni04E2</string>
		<string>uni04E4</string>
		<string>uni04F4</string>
		<string>uni04F8</string>
		<string>uni0512</string>
		<string>uniF536</string>
	</array>
	<key>public.kern1._cyr_Ge_left</key>
	<array>
		<string>uni0413</string>
		<string>uni0403</string>
		<string>uni0490</string>
		<string>uni0492</string>
		<string>uni04A4</string>
	</array>
	<key>public.kern1._cyr_Ha_left</key>
	<array>
		<string>uni0416</string>
		<string>uni041A</string>
		<string>uni040C</string>
		<string>uni0425</string>
		<string>uni0496</string>
		<string>uni049A</string>
		<string>uni049C</string>
		<string>uni04A0</string>
		<string>uni04B2</string>
		<string>uni04DC</string>
	</array>
	<key>public.kern1._cyr_Ie_left</key>
	<array>
		<string>uni0415</string>
		<string>uni0401</string>
		<string>uni04D4</string>
		<string>uni04D6</string>
	</array>
	<key>public.kern1._cyr_O_left</key>
	<array>
		<string>uni041E</string>
		<string>uni0421</string>
		<string>uni0424</string>
		<string>uni0404</string>
		<string>uni042D</string>
		<string>uni042E</string>
		<string>uni04AA</string>
		<string>uni04D8</string>
		<string>uni04DA</string>
		<string>uni04E6</string>
		<string>uni04E8</string>
		<string>uni04EA</string>
		<string>uniF50C</string>
	</array>
	<key>public.kern1._cyr_TverdiyZnak_left</key>
	<array>
		<string>uni042C</string>
		<string>uni042A</string>
		<string>uni0409</string>
		<string>uni040A</string>
		<string>uni0402</string>
		<string>uni04BA</string>
	</array>
	<key>public.kern1._cyr_U_left</key>
	<array>
		<string>uni0423</string>
		<string>uni040E</string>
		<string>uni04AE</string>
		<string>uni04B0</string>
		<string>uni04EE</string>
		<string>uni04F0</string>
		<string>uni04F2</string>
	</array>
	<key>public.kern1._cyr_Ve_left</key>
	<array>
		<string>uni0412</string>
		<string>uni0417</string>
		<string>uni0498</string>
		<string>uni04DE</string>
	</array>
	<key>public.kern1._cyr_a_left</key>
	<array>
		<string>uni0430</string>
		<string>uni045B</string>
		<string>uni0452</string>
		<string>uni04D1</string>
		<string>uni04D3</string>
	</array>
	<key>public.kern1._cyr_de_left</key>
	<array>
		<string>uni0434</string>
		<string>uni0446</string>
		<string>uni0449</string>
		<string>uni04A3</string>
		<string>uni04B7</string>
	</array>
	<key>public.kern1._cyr_en_left</key>
	<array>
		<string>uni0438</string>
		<string>uni0439</string>
		<string>uni043B</string>
		<string>uni043C</string>
		<string>uni043D</string>
		<string>uni043F</string>
		<string>uni0447</string>
		<string>uni0448</string>
		<string>uni045F</string>
		<string>uni044B</string>
		<string>uni044F</string>
		<string>uni04B9</string>
		<string>uni04C8</string>
		<string>uni04CC</string>
		<string>uni04E3</string>
		<string>uni04E5</string>
		<string>uni04F5</string>
		<string>uni04F9</string>
		<string>uni0513</string>
		<string>uniF537</string>
	</array>
	<key>public.kern1._cyr_es_left</key>
	<array>
		<string>uni0441</string>
		<string>uni0454</string>
		<string>uni04AB</string>
		<string>uniF50D</string>
	</array>
	<key>public.kern1._cyr_ha_left</key>
	<array>
		<string>uni0436</string>
		<string>uni043A</string>
		<string>uni045C</string>
		<string>uni0445</string>
		<string>uni0497</string>
		<string>uni049B</string>
		<string>uni049D</string>
		<string>uni04A1</string>
		<string>uni04B3</string>
		<string>uni04DD</string>
	</array>
	<key>public.kern1._cyr_i_left</key>
	<array>
		<string>uni0456</string>
		<string>uni0458</string>
	</array>
	<key>public.kern1._cyr_o_left</key>
	<array>
		<string>uni0431</string>
		<string>uni0435</string>
		<string>uni0451</string>
		<string>uni043E</string>
		<string>uni0440</string>
		<string>uni0444</string>
		<string>uni044D</string>
		<string>uni044E</string>
		<string>uni04D9</string>
		<string>uni04DB</string>
		<string>uni04E7</string>
		<string>uni04E9</string>
		<string>uni04EB</string>
	</array>
	<key>public.kern1._cyr_te_left</key>
	<array>
		<string>uni0433</string>
		<string>uni0453</string>
		<string>uni0491</string>
		<string>uni0493</string>
		<string>uni0442</string>
		<string>uniF53D</string>
	</array>
	<key>public.kern1._cyr_tverdiyznak_left</key>
	<array>
		<string>uni044C</string>
		<string>uni044A</string>
		<string>uni0459</string>
		<string>uni045A</string>
	</array>
	<key>public.kern1._cyr_u_left</key>
	<array>
		<string>uni0443</string>
		<string>uni045E</string>
		<string>uni04AF</string>
		<string>uni04B1</string>
	</array>
	<key>public.kern1._cyr_ve_left</key>
	<array>
		<string>uni0432</string>
		<string>uni0437</string>
		<string>uni0499</string>
		<string>uni04DF</string>
	</array>
	<key>public.kern1._d_left</key>
	<array>
		<string>d</string>
		<string>i</string>
		<string>igrave</string>
		<string>j</string>
	</array>
	<key>public.kern1._dashes_left</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
	</array>
	<key>public.kern1._dots_left</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>ellipsis</string>
	</array>
	<key>public.kern1._guill_left</key>
	<array>
		<string>guillemotleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>public.kern1._i_accented_left</key>
	<array>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
	</array>
	<key>public.kern1._n_left</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>h</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
	</array>
	<key>public.kern1._o_left</key>
	<array>
		<string>ae</string>
		<string>b</string>
		<string>eth</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
	</array>
	<key>public.kern1._parenleft_left</key>
	<array>
		<string>parenleft</string>
		<string>braceleft</string>
		<string>bracketleft</string>
		<string>angleleft</string>
	</array>
	<key>public.kern1._quotes_base_left</key>
	<array>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>public.kern1._quotes_straight_top_left</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>public.kern1._quotes_top_left</key>
	<array>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
	</array>
	<key>public.kern1._s_left</key>
	<array>
		<string>s</string>
		<string>scaron</string>
	</array>
	<key>public.kern1._u_left</key>
	<array>
		<string>g</string>
		<string>uni0237</string>
		<string>q</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>public.kern1._x_left</key>
	<array>
		<string>k</string>
		<string>x</string>
	</array>
	<key>public.kern1._y_left</key>
	<array>
		<string>v</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>public.kern1._z_left</key>
	<array>
		<string>z</string>
		<string>zcaron</string>
	</array>
	<key>public.kern1.dcaron</key>
	<array>
		<string>dcaron</string>
	</array>
	<key>public.kern1.lacron</key>
	<array>
		<string>lcaron</string>
	</array>
	<key>public.kern2._A_right</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>public.kern2._H_right</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>F</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>P</string>
		<string>Thorn</string>
		<string>R</string>
	</array>
	<key>public.kern2._I_accented_right</key>
	<array>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
	</array>
	<key>public.kern2._O_right</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
		<string>G</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>Q</string>
	</array>
	<key>public.kern2._S_right</key>
	<array>
		<string>S</string>
		<string>Scaron</string>
	</array>
	<key>public.kern2._U_right</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
	</array>
	<key>public.kern2._Y_right</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>public.kern2._Z_right</key>
	<array>
		<string>Z</string>
		<string>Zcaron</string>
	</array>
	<key>public.kern2._a_accented_right</key>
	<array>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>public.kern2._a_right</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>ae</string>
	</array>
	<key>public.kern2._colon_right</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>public.kern2._cyrA_right</key>
	<array>
		<string>uni0410</string>
		<string>uni04D0</string>
		<string>uni04D2</string>
		<string>uni04D4</string>
	</array>
	<key>public.kern2._cyrChe_right</key>
	<array>
		<string>uni0427</string>
		<string>uni04B6</string>
		<string>uni04B8</string>
		<string>uni04CB</string>
		<string>uni04F4</string>
	</array>
	<key>public.kern2._cyr_El_right</key>
	<array>
		<string>uni041B</string>
		<string>uni0409</string>
		<string>uni0512</string>
	</array>
	<key>public.kern2._cyr_En_right</key>
	<array>
		<string>uni0411</string>
		<string>uni0412</string>
		<string>uni0413</string>
		<string>uni0403</string>
		<string>uni0490</string>
		<string>uni0494</string>
		<string>uni0415</string>
		<string>uni0401</string>
		<string>uni0418</string>
		<string>uni0419</string>
		<string>uni041A</string>
		<string>uni040C</string>
		<string>uni041C</string>
		<string>uni041D</string>
		<string>uni041F</string>
		<string>uni0420</string>
		<string>uni0426</string>
		<string>uni0428</string>
		<string>uni0429</string>
		<string>uni040F</string>
		<string>uni042C</string>
		<string>uni042B</string>
		<string>uni040A</string>
		<string>uni0406</string>
		<string>uni042E</string>
		<string>uni049A</string>
		<string>uni049C</string>
		<string>uni04A2</string>
		<string>uni04A4</string>
		<string>uni04BA</string>
		<string>uni04C0</string>
		<string>uni04C3</string>
		<string>uni04C7</string>
		<string>uni04D6</string>
		<string>uni04E2</string>
		<string>uni04E4</string>
		<string>uni04F8</string>
		<string>uniF536</string>
	</array>
	<key>public.kern2._cyr_Ha_right</key>
	<array>
		<string>uni0416</string>
		<string>uni0425</string>
		<string>uni0496</string>
		<string>uni04B2</string>
		<string>uni04DC</string>
	</array>
	<key>public.kern2._cyr_O_right</key>
	<array>
		<string>uni0417</string>
		<string>uni041E</string>
		<string>uni0421</string>
		<string>uni0424</string>
		<string>uni0404</string>
		<string>uni042D</string>
		<string>uni04AA</string>
		<string>uni04D8</string>
		<string>uni04DA</string>
		<string>uni04E6</string>
		<string>uni04E8</string>
		<string>uni04EA</string>
		<string>uniF50C</string>
	</array>
	<key>public.kern2._cyr_Te_right</key>
	<array>
		<string>uni0422</string>
		<string>uni042A</string>
		<string>uni040B</string>
		<string>uni0402</string>
		<string>uni04A0</string>
	</array>
	<key>public.kern2._cyr_U_right</key>
	<array>
		<string>uni0423</string>
		<string>uni040E</string>
		<string>uni04EE</string>
		<string>uni04F0</string>
		<string>uni04F2</string>
	</array>
	<key>public.kern2._cyr_a_right</key>
	<array>
		<string>uni0430</string>
		<string>uni04D1</string>
		<string>uni04D3</string>
		<string>uni04D5</string>
	</array>
	<key>public.kern2._cyr_che_right</key>
	<array>
		<string>uni0447</string>
		<string>uni04B7</string>
		<string>uni04B9</string>
		<string>uni04CC</string>
		<string>uni04F5</string>
	</array>
	<key>public.kern2._cyr_el_right</key>
	<array>
		<string>uni043B</string>
		<string>uni0459</string>
		<string>uni0513</string>
	</array>
	<key>public.kern2._cyr_en_right</key>
	<array>
		<string>uni0432</string>
		<string>uni0433</string>
		<string>uni0453</string>
		<string>uni0491</string>
		<string>uni0495</string>
		<string>uni0438</string>
		<string>uni043A</string>
		<string>uni045C</string>
		<string>uni043C</string>
		<string>uni043D</string>
		<string>uni043F</string>
		<string>uni0440</string>
		<string>uni0446</string>
		<string>uni0448</string>
		<string>uni0449</string>
		<string>uni045F</string>
		<string>uni044C</string>
		<string>uni044B</string>
		<string>uni045A</string>
		<string>uni044E</string>
		<string>uni049B</string>
		<string>uni049D</string>
		<string>uni04A3</string>
		<string>uni04A5</string>
		<string>uni04C4</string>
		<string>uni04C8</string>
		<string>uni04E3</string>
		<string>uni04E5</string>
		<string>uni04F9</string>
		<string>uniF537</string>
		<string>uniF53D</string>
	</array>
	<key>public.kern2._cyr_ha_right</key>
	<array>
		<string>uni0436</string>
		<string>uni0445</string>
		<string>uni0497</string>
		<string>uni04DD</string>
	</array>
	<key>public.kern2._cyr_i_right</key>
	<array>
		<string>uni0456</string>
		<string>uni0458</string>
	</array>
	<key>public.kern2._cyr_o_right</key>
	<array>
		<string>uni0435</string>
		<string>uni0437</string>
		<string>uni043E</string>
		<string>uni0441</string>
		<string>uni0444</string>
		<string>uni0454</string>
		<string>uni044D</string>
		<string>uni0499</string>
		<string>uni04AB</string>
		<string>uni04D7</string>
		<string>uni04D9</string>
		<string>uni04DB</string>
		<string>uni04DF</string>
		<string>uni04E7</string>
		<string>uni04E9</string>
		<string>uni04EB</string>
		<string>uniF50D</string>
	</array>
	<key>public.kern2._cyr_te_right</key>
	<array>
		<string>uni0442</string>
		<string>uni044A</string>
		<string>uni04A1</string>
	</array>
	<key>public.kern2._cyr_tshe_right</key>
	<array>
		<string>uni045B</string>
		<string>uni0452</string>
	</array>
	<key>public.kern2._cyr_u_left</key>
	<array>
		<string>uni0443</string>
		<string>uni045E</string>
		<string>uni04AF</string>
		<string>uni04B1</string>
	</array>
	<key>public.kern2._dashes_right</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
	</array>
	<key>public.kern2._dots_right</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>ellipsis</string>
	</array>
	<key>public.kern2._guill_right</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>public.kern2._h_right</key>
	<array>
		<string>b</string>
		<string>f</string>
		<string>h</string>
		<string>i</string>
		<string>iacute</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>thorn</string>
		<string>germandbls</string>
	</array>
	<key>public.kern2._i_accented_right</key>
	<array>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
	</array>
	<key>public.kern2._n_right</key>
	<array>
		<string>uni0237</string>
		<string>m</string>
		<string>n</string>
		<string>p</string>
		<string>r</string>
	</array>
	<key>public.kern2._o_accented_right</key>
	<array>
		<string>eth</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>otilde</string>
	</array>
	<key>public.kern2._o_right</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>e</string>
		<string>eacute</string>
		<string>g</string>
		<string>o</string>
		<string>oacute</string>
		<string>oe</string>
		<string>q</string>
	</array>
	<key>public.kern2._parenright_right</key>
	<array>
		<string>parenright</string>
		<string>braceright</string>
		<string>bracketright</string>
		<string>angleright</string>
	</array>
	<key>public.kern2._quotes_straight_top_right</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>public.kern2._quotes_top_right</key>
	<array>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
	</array>
	<key>public.kern2._u_accented_right</key>
	<array>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>public.kern2._u_right</key>
	<array>
		<string>u</string>
		<string>uacute</string>
	</array>
	<key>public.kern2._uni04AE_right</key>
	<array>
		<string>uni04AE</string>
		<string>uni04B0</string>
	</array>
	<key>public.kern2._y_right</key>
	<array>
		<string>v</string>
		<string>y</string>
		<string>yacute</string>
	</array>
</dict>
</plist>
