<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lib</key>
	<dict>
		<key>com.fontlab.v2.tth</key>
		<dict>
			<key>stems</key>
			<dict>
				<key>Acute_Cyr: 150</key>
				<dict>
					<key>horizontal</key>
					<integer>1</integer>
					<key>round</key>
					<dict>
						<key>0</key>
						<integer>1</integer>
						<key>16</key>
						<integer>3</integer>
						<key>23</key>
						<integer>4</integer>
						<key>29</key>
						<integer>5</integer>
						<key>36</key>
						<integer>6</integer>
						<key>9</key>
						<integer>2</integer>
					</dict>
					<key>width</key>
					<integer>150</integer>
				</dict>
				<key>BES: 138</key>
				<dict>
					<key>horizontal</key>
					<integer>1</integer>
					<key>round</key>
					<dict>
						<key>0</key>
						<integer>1</integer>
						<key>13</key>
						<integer>2</integer>
						<key>18</key>
						<integer>3</integer>
						<key>25</key>
						<integer>4</integer>
						<key>32</key>
						<integer>5</integer>
						<key>39</key>
						<integer>6</integer>
					</dict>
					<key>width</key>
					<integer>138</integer>
				</dict>
				<key>Dieresis_Dot: 170</key>
				<dict>
					<key>horizontal</key>
					<integer>1</integer>
					<key>round</key>
					<dict>
						<key>0</key>
						<integer>1</integer>
						<key>10</key>
						<integer>2</integer>
						<key>16</key>
						<integer>3</integer>
						<key>22</key>
						<integer>4</integer>
						<key>29</key>
						<integer>5</integer>
						<key>35</key>
						<integer>6</integer>
					</dict>
					<key>width</key>
					<integer>170</integer>
				</dict>
				<key>Euro: 118</key>
				<dict>
					<key>horizontal</key>
					<integer>1</integer>
					<key>round</key>
					<dict>
						<key>0</key>
						<integer>1</integer>
						<key>15</key>
						<integer>2</integer>
						<key>22</key>
						<integer>3</integer>
						<key>30</key>
						<integer>4</integer>
						<key>39</key>
						<integer>5</integer>
						<key>47</key>
						<integer>6</integer>
					</dict>
					<key>width</key>
					<integer>118</integer>
				</dict>
				<key>OH: 148</key>
				<dict>
					<key>horizontal</key>
					<integer>1</integer>
					<key>round</key>
					<dict>
						<key>0</key>
						<integer>1</integer>
						<key>13</key>
						<integer>2</integer>
						<key>18</key>
						<integer>3</integer>
						<key>25</key>
						<integer>4</integer>
						<key>32</key>
						<integer>5</integer>
						<key>39</key>
						<integer>6</integer>
					</dict>
					<key>width</key>
					<integer>148</integer>
				</dict>
				<key>Tilde_cyrBre: 170</key>
				<dict>
					<key>horizontal</key>
					<integer>1</integer>
					<key>round</key>
					<dict>
						<key>0</key>
						<integer>1</integer>
						<key>16</key>
						<integer>3</integer>
						<key>23</key>
						<integer>4</integer>
						<key>28</key>
						<integer>5</integer>
						<key>33</key>
						<integer>6</integer>
						<key>9</key>
						<integer>2</integer>
					</dict>
					<key>width</key>
					<integer>170</integer>
				</dict>
				<key>acute_cyr: 160</key>
				<dict>
					<key>horizontal</key>
					<integer>1</integer>
					<key>round</key>
					<dict>
						<key>0</key>
						<integer>1</integer>
						<key>16</key>
						<integer>3</integer>
						<key>23</key>
						<integer>4</integer>
						<key>29</key>
						<integer>5</integer>
						<key>36</key>
						<integer>6</integer>
						<key>9</key>
						<integer>2</integer>
					</dict>
					<key>width</key>
					<integer>160</integer>
				</dict>
				<key>ae: 99</key>
				<dict>
					<key>horizontal</key>
					<integer>1</integer>
					<key>round</key>
					<dict>
						<key>0</key>
						<integer>1</integer>
						<key>15</key>
						<integer>2</integer>
						<key>26</key>
						<integer>3</integer>
						<key>35</key>
						<integer>4</integer>
						<key>45</key>
						<integer>5</integer>
						<key>56</key>
						<integer>6</integer>
					</dict>
					<key>width</key>
					<integer>99</integer>
				</dict>
				<key>asg: 118</key>
				<dict>
					<key>horizontal</key>
					<integer>1</integer>
					<key>round</key>
					<dict>
						<key>0</key>
						<integer>1</integer>
						<key>13</key>
						<integer>2</integer>
						<key>20</key>
						<integer>3</integer>
						<key>28</key>
						<integer>4</integer>
						<key>37</key>
						<integer>5</integer>
						<key>45</key>
						<integer>6</integer>
					</dict>
					<key>width</key>
					<integer>118</integer>
				</dict>
				<key>bar: 110</key>
				<dict>
					<key>horizontal</key>
					<integer>1</integer>
					<key>round</key>
					<dict>
						<key>0</key>
						<integer>1</integer>
						<key>15</key>
						<integer>2</integer>
						<key>22</key>
						<integer>3</integer>
						<key>32</key>
						<integer>4</integer>
						<key>41</key>
						<integer>5</integer>
						<key>50</key>
						<integer>6</integer>
					</dict>
					<key>width</key>
					<integer>110</integer>
				</dict>
				<key>cyr: 114</key>
				<dict>
					<key>horizontal</key>
					<integer>1</integer>
					<key>round</key>
					<dict>
						<key>0</key>
						<integer>1</integer>
						<key>13</key>
						<integer>2</integer>
						<key>20</key>
						<integer>3</integer>
						<key>28</key>
						<integer>4</integer>
						<key>39</key>
						<integer>5</integer>
						<key>47</key>
						<integer>6</integer>
					</dict>
					<key>width</key>
					<integer>114</integer>
				</dict>
				<key>dieres_dot: 160</key>
				<dict>
					<key>horizontal</key>
					<integer>1</integer>
					<key>round</key>
					<dict>
						<key>0</key>
						<integer>1</integer>
						<key>10</key>
						<integer>2</integer>
						<key>16</key>
						<integer>3</integer>
						<key>22</key>
						<integer>4</integer>
						<key>29</key>
						<integer>5</integer>
						<key>35</key>
						<integer>6</integer>
					</dict>
					<key>width</key>
					<integer>160</integer>
				</dict>
				<key>e: 122</key>
				<dict>
					<key>horizontal</key>
					<integer>1</integer>
					<key>round</key>
					<dict>
						<key>0</key>
						<integer>1</integer>
						<key>13</key>
						<integer>2</integer>
						<key>20</key>
						<integer>3</integer>
						<key>28</key>
						<integer>4</integer>
						<key>37</key>
						<integer>5</integer>
						<key>45</key>
						<integer>6</integer>
					</dict>
					<key>width</key>
					<integer>122</integer>
				</dict>
				<key>f: 127</key>
				<dict>
					<key>horizontal</key>
					<integer>1</integer>
					<key>round</key>
					<dict>
						<key>0</key>
						<integer>1</integer>
						<key>14</key>
						<integer>2</integer>
						<key>21</key>
						<integer>3</integer>
						<key>28</key>
						<integer>4</integer>
						<key>36</key>
						<integer>5</integer>
						<key>44</key>
						<integer>6</integer>
					</dict>
					<key>width</key>
					<integer>127</integer>
				</dict>
				<key>ond: 127</key>
				<dict>
					<key>horizontal</key>
					<integer>1</integer>
					<key>round</key>
					<dict>
						<key>0</key>
						<integer>1</integer>
						<key>13</key>
						<integer>2</integer>
						<key>20</key>
						<integer>3</integer>
						<key>28</key>
						<integer>4</integer>
						<key>37</key>
						<integer>5</integer>
						<key>45</key>
						<integer>6</integer>
					</dict>
					<key>width</key>
					<integer>127</integer>
				</dict>
				<key>period: 190</key>
				<dict>
					<key>horizontal</key>
					<integer>1</integer>
					<key>round</key>
					<dict>
						<key>0</key>
						<integer>1</integer>
						<key>15</key>
						<integer>3</integer>
						<key>20</key>
						<integer>4</integer>
						<key>24</key>
						<integer>5</integer>
						<key>30</key>
						<integer>6</integer>
						<key>9</key>
						<integer>2</integer>
					</dict>
					<key>width</key>
					<integer>190</integer>
				</dict>
				<key>ring_Ring: 230</key>
				<dict>
					<key>horizontal</key>
					<integer>1</integer>
					<key>round</key>
					<dict>
						<key>0</key>
						<integer>1</integer>
						<key>10</key>
						<integer>3</integer>
						<key>16</key>
						<integer>4</integer>
						<key>20</key>
						<integer>5</integer>
						<key>24</key>
						<integer>6</integer>
						<key>7</key>
						<integer>2</integer>
					</dict>
					<key>width</key>
					<integer>230</integer>
				</dict>
				<key>sup_ordfem: 118</key>
				<dict>
					<key>horizontal</key>
					<integer>1</integer>
					<key>round</key>
					<dict>
						<key>0</key>
						<integer>1</integer>
						<key>14</key>
						<integer>2</integer>
						<key>23</key>
						<integer>3</integer>
						<key>30</key>
						<integer>4</integer>
						<key>40</key>
						<integer>5</integer>
						<key>46</key>
						<integer>6</integer>
					</dict>
					<key>width</key>
					<integer>118</integer>
				</dict>
				<key>tilde_cyrbrev: 150</key>
				<dict>
					<key>horizontal</key>
					<integer>1</integer>
					<key>round</key>
					<dict>
						<key>0</key>
						<integer>1</integer>
						<key>16</key>
						<integer>3</integer>
						<key>23</key>
						<integer>4</integer>
						<key>28</key>
						<integer>5</integer>
						<key>37</key>
						<integer>6</integer>
						<key>9</key>
						<integer>2</integer>
					</dict>
					<key>width</key>
					<integer>150</integer>
				</dict>
			</dict>
			<key>zoneppm</key>
			<integer>60</integer>
			<key>zones</key>
			<dict>
				<key>Accent</key>
				<dict>
					<key>delta</key>
					<dict>
						<key>11</key>
						<integer>8</integer>
						<key>15</key>
						<integer>8</integer>
						<key>29</key>
						<integer>-8</integer>
						<key>30</key>
						<integer>-8</integer>
						<key>35</key>
						<integer>8</integer>
						<key>39</key>
						<integer>8</integer>
						<key>42</key>
						<integer>-8</integer>
						<key>46</key>
						<integer>-8</integer>
						<key>49</key>
						<integer>-8</integer>
						<key>50</key>
						<integer>-8</integer>
						<key>9</key>
						<integer>8</integer>
					</dict>
					<key>position</key>
					<integer>750</integer>
					<key>top</key>
					<integer>0</integer>
					<key>width</key>
					<integer>20</integer>
				</dict>
				<key>accent</key>
				<dict>
					<key>delta</key>
					<dict>
						<key>11</key>
						<integer>8</integer>
						<key>25</key>
						<integer>-8</integer>
						<key>28</key>
						<integer>8</integer>
						<key>35</key>
						<integer>8</integer>
						<key>42</key>
						<integer>-8</integer>
						<key>44</key>
						<integer>-8</integer>
						<key>46</key>
						<integer>-8</integer>
						<key>47</key>
						<integer>-8</integer>
						<key>49</key>
						<integer>-8</integer>
						<key>51</key>
						<integer>-8</integer>
						<key>9</key>
						<integer>8</integer>
					</dict>
					<key>position</key>
					<integer>585</integer>
					<key>top</key>
					<integer>0</integer>
					<key>width</key>
					<integer>20</integer>
				</dict>
				<key>b: 0</key>
				<dict>
					<key>position</key>
					<integer>0</integer>
					<key>top</key>
					<integer>0</integer>
					<key>width</key>
					<integer>13</integer>
				</dict>
				<key>dsc</key>
				<dict>
					<key>delta</key>
					<dict>
						<key>17</key>
						<integer>-8</integer>
						<key>22</key>
						<integer>-8</integer>
						<key>37</key>
						<integer>-8</integer>
					</dict>
					<key>position</key>
					<integer>-200</integer>
					<key>top</key>
					<integer>0</integer>
					<key>width</key>
					<integer>13</integer>
				</dict>
				<key>lc</key>
				<dict>
					<key>delta</key>
					<dict>
						<key>48</key>
						<integer>8</integer>
					</dict>
					<key>position</key>
					<integer>530</integer>
					<key>top</key>
					<integer>1</integer>
					<key>width</key>
					<integer>13</integer>
				</dict>
				<key>sup</key>
				<dict>
					<key>delta</key>
					<dict>
						<key>16</key>
						<integer>8</integer>
						<key>18</key>
						<integer>8</integer>
						<key>21</key>
						<integer>8</integer>
						<key>30</key>
						<integer>8</integer>
						<key>31</key>
						<integer>8</integer>
						<key>40</key>
						<integer>8</integer>
						<key>54</key>
						<integer>8</integer>
						<key>56</key>
						<integer>-8</integer>
					</dict>
					<key>position</key>
					<integer>780</integer>
					<key>top</key>
					<integer>1</integer>
					<key>width</key>
					<integer>13</integer>
				</dict>
				<key>sup_b</key>
				<dict>
					<key>delta</key>
					<dict>
						<key>12</key>
						<integer>-8</integer>
						<key>15</key>
						<integer>-8</integer>
						<key>23</key>
						<integer>-8</integer>
						<key>33</key>
						<integer>-8</integer>
						<key>39</key>
						<integer>-8</integer>
						<key>41</key>
						<integer>-8</integer>
						<key>44</key>
						<integer>-8</integer>
					</dict>
					<key>position</key>
					<integer>380</integer>
					<key>top</key>
					<integer>0</integer>
					<key>width</key>
					<integer>13</integer>
				</dict>
				<key>uc</key>
				<dict>
					<key>delta</key>
					<dict>
						<key>22</key>
						<integer>8</integer>
						<key>26</key>
						<integer>8</integer>
						<key>32</key>
						<integer>8</integer>
						<key>39</key>
						<integer>8</integer>
						<key>52</key>
						<integer>8</integer>
						<key>56</key>
						<integer>8</integer>
						<key>9</key>
						<integer>8</integer>
					</dict>
					<key>position</key>
					<integer>700</integer>
					<key>top</key>
					<integer>1</integer>
					<key>width</key>
					<integer>13</integer>
				</dict>
			</dict>
		</dict>
		<key>com.schriftgestaltung.Glyphs.layerLib.public.default</key>
		<dict>
			<key>com.fontlab.layer.locked</key>
			<integer>0</integer>
			<key>com.fontlab.layer.name</key>
			<string>TextBold</string>
			<key>com.fontlab.layer.opacity</key>
			<integer>1</integer>
			<key>com.fontlab.layer.service</key>
			<integer>0</integer>
			<key>com.fontlab.layer.visible</key>
			<integer>0</integer>
			<key>com.fontlab.layer.wireframe</key>
			<integer>0</integer>
		</dict>
		<key>com.schriftgestaltung.Glyphs.ufoYear</key>
		<integer>2020</integer>
	</dict>
</dict>
</plist>
