<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern1._A_left</key>
  <array>
    <string>A</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Aring</string>
    <string>Atilde</string>
  </array>
  <key>public.kern1._B_left</key>
  <array>
    <string>B</string>
    <string>Germandbls</string>
  </array>
  <key>public.kern1._E_left</key>
  <array>
    <string>AE</string>
    <string>E</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Egrave</string>
    <string>OE</string>
  </array>
  <key>public.kern1._H_left</key>
  <array>
    <string>H</string>
    <string>I</string>
    <string>Igrave</string>
    <string>M</string>
    <string>N</string>
    <string>Ntilde</string>
  </array>
  <key>public.kern1._I_accented_left</key>
  <array>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
  </array>
  <key>public.kern1._L_left</key>
  <array>
    <string>L</string>
    <string>Lslash</string>
  </array>
  <key>public.kern1._O_left</key>
  <array>
    <string>C</string>
    <string>Ccedilla</string>
    <string>D</string>
    <string>Eth</string>
    <string>G</string>
    <string>O</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Otilde</string>
  </array>
  <key>public.kern1._S_left</key>
  <array>
    <string>S</string>
    <string>Scaron</string>
  </array>
  <key>public.kern1._U_left</key>
  <array>
    <string>J</string>
    <string>U</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
  </array>
  <key>public.kern1._X_left</key>
  <array>
    <string>K</string>
    <string>X</string>
  </array>
  <key>public.kern1._Y_left</key>
  <array>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ydieresis</string>
  </array>
  <key>public.kern1._Z_left</key>
  <array>
    <string>Z</string>
    <string>Zcaron</string>
  </array>
  <key>public.kern1._c_left</key>
  <array>
    <string>c</string>
    <string>ccedilla</string>
  </array>
  <key>public.kern1._colon_left</key>
  <array>
    <string>colon</string>
    <string>semicolon</string>
  </array>
  <key>public.kern1._cyrA_left</key>
  <array>
    <string>afii10017</string>
    <string>cyrAcyrbreve</string>
    <string>cyrAdieresis</string>
  </array>
  <key>public.kern1._cyr_De_left</key>
  <array>
    <string>afii10021</string>
    <string>afii10040</string>
    <string>afii10043</string>
    <string>cyrChedesc</string>
    <string>uni04A2</string>
  </array>
  <key>public.kern1._cyr_En_left</key>
  <array>
    <string>afii10026</string>
    <string>afii10027</string>
    <string>afii10029</string>
    <string>afii10030</string>
    <string>afii10031</string>
    <string>afii10033</string>
    <string>afii10041</string>
    <string>afii10042</string>
    <string>afii10045</string>
    <string>afii10049</string>
    <string>afii10055</string>
    <string>afii10145</string>
    <string>cyrChedescleft</string>
    <string>cyrChedieresis</string>
    <string>cyrChevertbar</string>
    <string>cyrEnhook</string>
    <string>cyrI</string>
    <string>cyrIdieresis</string>
    <string>cyrImacron</string>
    <string>cyrYerucyrbreve</string>
    <string>cyrYerudieresis</string>
    <string>uni0512</string>
  </array>
  <key>public.kern1._cyr_Ge_left</key>
  <array>
    <string>afii10020</string>
    <string>afii10050</string>
    <string>afii10052</string>
    <string>cyrEnGe</string>
    <string>cyrGebar</string>
  </array>
  <key>public.kern1._cyr_Ha_left</key>
  <array>
    <string>afii10024</string>
    <string>afii10028</string>
    <string>afii10039</string>
    <string>afii10061</string>
    <string>cyrHadesc</string>
    <string>cyrKaback</string>
    <string>cyrKadesc</string>
    <string>cyrKavertbar</string>
    <string>cyrZhedieresis</string>
    <string>uni0496</string>
  </array>
  <key>public.kern1._cyr_Ie_left</key>
  <array>
    <string>afii10022</string>
    <string>afii10023</string>
    <string>cyrAE</string>
    <string>cyrIecyrbreve</string>
  </array>
  <key>public.kern1._cyr_O_left</key>
  <array>
    <string>afii10032</string>
    <string>afii10035</string>
    <string>afii10038</string>
    <string>afii10047</string>
    <string>afii10048</string>
    <string>afii10053</string>
    <string>cyrEstail</string>
    <string>cyrEstail.alt02</string>
    <string>cyrObardieresis</string>
    <string>cyrOdieresis</string>
    <string>cyrinvEdieresis</string>
    <string>uni04D8</string>
    <string>uni04E8</string>
  </array>
  <key>public.kern1._cyr_TverdiyZnak_left</key>
  <array>
    <string>afii10044</string>
    <string>afii10046</string>
    <string>afii10051</string>
    <string>afii10058</string>
    <string>afii10059</string>
    <string>uni04BA</string>
  </array>
  <key>public.kern1._cyr_U_left</key>
  <array>
    <string>afii10037</string>
    <string>afii10062</string>
    <string>cyrUdblacute</string>
    <string>cyrUdieresis</string>
    <string>cyrUmacron</string>
    <string>cyrstraightUbar</string>
    <string>uni04AE</string>
  </array>
  <key>public.kern1._cyr_Ve_left</key>
  <array>
    <string>afii10019</string>
    <string>afii10025</string>
    <string>cyrZedieresis</string>
    <string>cyrZetail</string>
  </array>
  <key>public.kern1._cyr_a_left</key>
  <array>
    <string>afii10065</string>
    <string>afii10099</string>
    <string>afii10108</string>
    <string>cyracyrbreve</string>
    <string>cyradieresis</string>
  </array>
  <key>public.kern1._cyr_de_left</key>
  <array>
    <string>afii10069</string>
    <string>afii10088</string>
    <string>afii10091</string>
    <string>cyrchedesc</string>
    <string>uni04A3</string>
  </array>
  <key>public.kern1._cyr_en_left</key>
  <array>
    <string>afii10074</string>
    <string>afii10075</string>
    <string>afii10077</string>
    <string>afii10078</string>
    <string>afii10079</string>
    <string>afii10081</string>
    <string>afii10089</string>
    <string>afii10090</string>
    <string>afii10093</string>
    <string>afii10097</string>
    <string>afii10193</string>
    <string>cyrchedescleft</string>
    <string>cyrchedieresis</string>
    <string>cyrchevertbar</string>
    <string>cyrenhook</string>
    <string>cyridieresis</string>
    <string>cyrimacron</string>
    <string>cyryerucyrbreve</string>
    <string>cyryerudieresis</string>
    <string>uni0513</string>
  </array>
  <key>public.kern1._cyr_es_left</key>
  <array>
    <string>afii10083</string>
    <string>afii10101</string>
    <string>cyrestail</string>
    <string>cyrestail.alt02</string>
  </array>
  <key>public.kern1._cyr_ha_left</key>
  <array>
    <string>afii10072</string>
    <string>afii10076</string>
    <string>afii10087</string>
    <string>afii10109</string>
    <string>cyrhadesc</string>
    <string>cyrkaback</string>
    <string>cyrkadesc</string>
    <string>cyrkavertbar</string>
    <string>cyrzhedieresis</string>
    <string>uni0497</string>
  </array>
  <key>public.kern1._cyr_i_left</key>
  <array>
    <string>afii10103</string>
    <string>afii10105</string>
  </array>
  <key>public.kern1._cyr_o_left</key>
  <array>
    <string>afii10066</string>
    <string>afii10070</string>
    <string>afii10071</string>
    <string>afii10080</string>
    <string>afii10082</string>
    <string>afii10086</string>
    <string>afii10095</string>
    <string>afii10096</string>
    <string>cyrinvedieresis</string>
    <string>cyrobardieresis</string>
    <string>cyrodieresis</string>
    <string>uni04D9</string>
    <string>uni04E9</string>
  </array>
  <key>public.kern1._cyr_te_left</key>
  <array>
    <string>afii10068</string>
    <string>afii10084</string>
    <string>afii10098</string>
    <string>afii10100</string>
    <string>cyrgebar</string>
    <string>cyrgebar.alt</string>
  </array>
  <key>public.kern1._cyr_tverdiyznak_left</key>
  <array>
    <string>afii10092</string>
    <string>afii10094</string>
    <string>afii10106</string>
    <string>afii10107</string>
  </array>
  <key>public.kern1._cyr_u_left</key>
  <array>
    <string>afii10085</string>
    <string>afii10110</string>
    <string>cyrstraightubar</string>
    <string>uni04AF</string>
  </array>
  <key>public.kern1._cyr_ve_left</key>
  <array>
    <string>afii10067</string>
    <string>afii10073</string>
    <string>cyrzedieresis</string>
    <string>cyrzetail</string>
  </array>
  <key>public.kern1._d_left</key>
  <array>
    <string>d</string>
    <string>i</string>
    <string>igrave</string>
    <string>j</string>
  </array>
  <key>public.kern1._dashes_left</key>
  <array>
    <string>emdash</string>
    <string>endash</string>
    <string>hyphen</string>
  </array>
  <key>public.kern1._dots_left</key>
  <array>
    <string>comma</string>
    <string>ellipsis</string>
    <string>period</string>
  </array>
  <key>public.kern1._guill_left</key>
  <array>
    <string>guillemotleft</string>
    <string>guilsinglleft</string>
  </array>
  <key>public.kern1._i_accented_left</key>
  <array>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
  </array>
  <key>public.kern1._n_left</key>
  <array>
    <string>a</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>agrave</string>
    <string>aring</string>
    <string>atilde</string>
    <string>h</string>
    <string>m</string>
    <string>n</string>
    <string>ntilde</string>
  </array>
  <key>public.kern1._o_left</key>
  <array>
    <string>ae</string>
    <string>b</string>
    <string>e</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>egrave</string>
    <string>eth</string>
    <string>o</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>oe</string>
    <string>ograve</string>
    <string>otilde</string>
    <string>p</string>
    <string>thorn</string>
  </array>
  <key>public.kern1._parenleft_left</key>
  <array>
    <string>angleleft</string>
    <string>braceleft</string>
    <string>bracketleft</string>
    <string>parenleft</string>
  </array>
  <key>public.kern1._quotes_base_left</key>
  <array>
    <string>quotedblbase</string>
    <string>quotesinglbase</string>
  </array>
  <key>public.kern1._quotes_straight_top_left</key>
  <array>
    <string>quotedbl</string>
    <string>quotesingle</string>
  </array>
  <key>public.kern1._quotes_top_left</key>
  <array>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quoteleft</string>
    <string>quoteright</string>
  </array>
  <key>public.kern1._s_left</key>
  <array>
    <string>s</string>
    <string>scaron</string>
  </array>
  <key>public.kern1._u_left</key>
  <array>
    <string>dotlessi</string>
    <string>dotlessj</string>
    <string>g</string>
    <string>q</string>
    <string>u</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
  </array>
  <key>public.kern1._x_left</key>
  <array>
    <string>k</string>
    <string>x</string>
  </array>
  <key>public.kern1._y_left</key>
  <array>
    <string>v</string>
    <string>y</string>
    <string>yacute</string>
    <string>ydieresis</string>
  </array>
  <key>public.kern1._z_left</key>
  <array>
    <string>z</string>
    <string>zcaron</string>
  </array>
  <key>public.kern2._A_right</key>
  <array>
    <string>A</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Aring</string>
    <string>Atilde</string>
  </array>
  <key>public.kern2._H_right</key>
  <array>
    <string>B</string>
    <string>D</string>
    <string>E</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Egrave</string>
    <string>F</string>
    <string>H</string>
    <string>I</string>
    <string>Iacute</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>Ntilde</string>
    <string>P</string>
    <string>R</string>
    <string>Thorn</string>
  </array>
  <key>public.kern2._I_accented_right</key>
  <array>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Igrave</string>
  </array>
  <key>public.kern2._O_right</key>
  <array>
    <string>C</string>
    <string>Ccedilla</string>
    <string>G</string>
    <string>O</string>
    <string>OE</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Otilde</string>
    <string>Q</string>
  </array>
  <key>public.kern2._S_right</key>
  <array>
    <string>S</string>
    <string>Scaron</string>
  </array>
  <key>public.kern2._U_right</key>
  <array>
    <string>U</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
  </array>
  <key>public.kern2._Y_right</key>
  <array>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ydieresis</string>
  </array>
  <key>public.kern2._Z_right</key>
  <array>
    <string>Z</string>
    <string>Zcaron</string>
  </array>
  <key>public.kern2._a_accented_right</key>
  <array>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>agrave</string>
    <string>aring</string>
    <string>atilde</string>
  </array>
  <key>public.kern2._a_right</key>
  <array>
    <string>a</string>
    <string>aacute</string>
    <string>ae</string>
  </array>
  <key>public.kern2._colon_right</key>
  <array>
    <string>colon</string>
    <string>semicolon</string>
  </array>
  <key>public.kern2._cyrA_right</key>
  <array>
    <string>afii10017</string>
    <string>cyrAE</string>
    <string>cyrAcyrbreve</string>
    <string>cyrAdieresis</string>
  </array>
  <key>public.kern2._cyrChe_right</key>
  <array>
    <string>afii10041</string>
    <string>cyrChedesc</string>
    <string>cyrChedescleft</string>
    <string>cyrChedieresis</string>
    <string>cyrChevertbar</string>
  </array>
  <key>public.kern2._cyr_El_right</key>
  <array>
    <string>afii10029</string>
    <string>afii10058</string>
    <string>uni0512</string>
  </array>
  <key>public.kern2._cyr_En_right</key>
  <array>
    <string>afii10018</string>
    <string>afii10019</string>
    <string>afii10020</string>
    <string>afii10022</string>
    <string>afii10023</string>
    <string>afii10026</string>
    <string>afii10027</string>
    <string>afii10028</string>
    <string>afii10030</string>
    <string>afii10031</string>
    <string>afii10033</string>
    <string>afii10034</string>
    <string>afii10040</string>
    <string>afii10042</string>
    <string>afii10043</string>
    <string>afii10045</string>
    <string>afii10046</string>
    <string>afii10048</string>
    <string>afii10050</string>
    <string>afii10052</string>
    <string>afii10055</string>
    <string>afii10059</string>
    <string>afii10061</string>
    <string>afii10145</string>
    <string>cyrEnGe</string>
    <string>cyrEnhook</string>
    <string>cyrGehook</string>
    <string>cyrI</string>
    <string>cyrIdieresis</string>
    <string>cyrIecyrbreve</string>
    <string>cyrImacron</string>
    <string>cyrKadesc</string>
    <string>cyrKahook</string>
    <string>cyrKavertbar</string>
    <string>cyrYerucyrbreve</string>
    <string>cyrYerudieresis</string>
    <string>uni04A2</string>
    <string>uni04BA</string>
  </array>
  <key>public.kern2._cyr_Ha_right</key>
  <array>
    <string>afii10024</string>
    <string>afii10039</string>
    <string>cyrHadesc</string>
    <string>cyrZhedieresis</string>
    <string>uni0496</string>
  </array>
  <key>public.kern2._cyr_O_right</key>
  <array>
    <string>afii10025</string>
    <string>afii10032</string>
    <string>afii10035</string>
    <string>afii10038</string>
    <string>afii10047</string>
    <string>afii10053</string>
    <string>cyrEstail</string>
    <string>cyrEstail.alt02</string>
    <string>cyrObardieresis</string>
    <string>cyrOdieresis</string>
    <string>cyrinvEdieresis</string>
    <string>uni04D8</string>
    <string>uni04E8</string>
  </array>
  <key>public.kern2._cyr_Te_right</key>
  <array>
    <string>afii10036</string>
    <string>afii10044</string>
    <string>afii10051</string>
    <string>afii10060</string>
    <string>cyrKaback</string>
  </array>
  <key>public.kern2._cyr_U_right</key>
  <array>
    <string>afii10037</string>
    <string>afii10062</string>
    <string>cyrUdblacute</string>
    <string>cyrUdieresis</string>
    <string>cyrUmacron</string>
  </array>
  <key>public.kern2._cyr_a_right</key>
  <array>
    <string>afii10065</string>
    <string>cyracyrbreve</string>
    <string>cyradieresis</string>
    <string>cyrae</string>
  </array>
  <key>public.kern2._cyr_che_right</key>
  <array>
    <string>afii10089</string>
    <string>cyrchedesc</string>
    <string>cyrchedescleft</string>
    <string>cyrchedieresis</string>
    <string>cyrchevertbar</string>
  </array>
  <key>public.kern2._cyr_el_right</key>
  <array>
    <string>afii10077</string>
    <string>afii10106</string>
    <string>uni0513</string>
  </array>
  <key>public.kern2._cyr_en_right</key>
  <array>
    <string>afii10067</string>
    <string>afii10068</string>
    <string>afii10074</string>
    <string>afii10076</string>
    <string>afii10078</string>
    <string>afii10079</string>
    <string>afii10081</string>
    <string>afii10082</string>
    <string>afii10088</string>
    <string>afii10090</string>
    <string>afii10091</string>
    <string>afii10093</string>
    <string>afii10094</string>
    <string>afii10096</string>
    <string>afii10098</string>
    <string>afii10100</string>
    <string>afii10107</string>
    <string>afii10109</string>
    <string>afii10193</string>
    <string>cyrenge</string>
    <string>cyrenhook</string>
    <string>cyrgebar.alt</string>
    <string>cyrgehook</string>
    <string>cyridieresis</string>
    <string>cyrimacron</string>
    <string>cyrkadesc</string>
    <string>cyrkahook</string>
    <string>cyrkavertbar</string>
    <string>cyryerucyrbreve</string>
    <string>cyryerudieresis</string>
    <string>uni04A3</string>
  </array>
  <key>public.kern2._cyr_ha_right</key>
  <array>
    <string>afii10072</string>
    <string>afii10087</string>
    <string>cyrzhedieresis</string>
    <string>uni0497</string>
  </array>
  <key>public.kern2._cyr_i_right</key>
  <array>
    <string>afii10103</string>
    <string>afii10105</string>
  </array>
  <key>public.kern2._cyr_o_right</key>
  <array>
    <string>afii10070</string>
    <string>afii10073</string>
    <string>afii10080</string>
    <string>afii10083</string>
    <string>afii10086</string>
    <string>afii10095</string>
    <string>afii10101</string>
    <string>cyrestail</string>
    <string>cyrestail.alt02</string>
    <string>cyriecyrbreve</string>
    <string>cyrinvedieresis</string>
    <string>cyrobardieresis</string>
    <string>cyrodieresis</string>
    <string>cyrzedieresis</string>
    <string>cyrzetail</string>
    <string>uni04D9</string>
    <string>uni04E9</string>
  </array>
  <key>public.kern2._cyr_te_right</key>
  <array>
    <string>afii10084</string>
    <string>afii10092</string>
    <string>cyrkaback</string>
  </array>
  <key>public.kern2._cyr_tshe_right</key>
  <array>
    <string>afii10099</string>
    <string>afii10108</string>
  </array>
  <key>public.kern2._cyr_u_left</key>
  <array>
    <string>afii10085</string>
    <string>afii10110</string>
    <string>cyrstraightubar</string>
    <string>uni04AF</string>
  </array>
  <key>public.kern2._dashes_right</key>
  <array>
    <string>emdash</string>
    <string>endash</string>
    <string>hyphen</string>
  </array>
  <key>public.kern2._dots_right</key>
  <array>
    <string>comma</string>
    <string>ellipsis</string>
    <string>period</string>
  </array>
  <key>public.kern2._guill_right</key>
  <array>
    <string>guillemotright</string>
    <string>guilsinglright</string>
  </array>
  <key>public.kern2._h_right</key>
  <array>
    <string>b</string>
    <string>germandbls</string>
    <string>h</string>
    <string>i</string>
    <string>iacute</string>
    <string>j</string>
    <string>k</string>
    <string>thorn</string>
  </array>
  <key>public.kern2._i_accented_right</key>
  <array>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>igrave</string>
  </array>
  <key>public.kern2._n_right</key>
  <array>
    <string>dotlessi</string>
    <string>dotlessj</string>
    <string>m</string>
    <string>n</string>
    <string>p</string>
    <string>r</string>
  </array>
  <key>public.kern2._o_accented_right</key>
  <array>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>egrave</string>
    <string>eth</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>ograve</string>
    <string>otilde</string>
  </array>
  <key>public.kern2._o_right</key>
  <array>
    <string>c</string>
    <string>ccedilla</string>
    <string>d</string>
    <string>e</string>
    <string>eacute</string>
    <string>g</string>
    <string>o</string>
    <string>oacute</string>
    <string>oe</string>
    <string>q</string>
  </array>
  <key>public.kern2._parenright_right</key>
  <array>
    <string>angleright</string>
    <string>braceright</string>
    <string>bracketright</string>
    <string>parenright</string>
  </array>
  <key>public.kern2._quotes_straight_top_right</key>
  <array>
    <string>quotedbl</string>
    <string>quotesingle</string>
  </array>
  <key>public.kern2._quotes_top_right</key>
  <array>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quoteleft</string>
    <string>quoteright</string>
  </array>
  <key>public.kern2._u_accented_right</key>
  <array>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
  </array>
  <key>public.kern2._u_right</key>
  <array>
    <string>u</string>
    <string>uacute</string>
  </array>
  <key>public.kern2._uni04AE_right</key>
  <array>
    <string>cyrstraightUbar</string>
    <string>uni04AE</string>
  </array>
  <key>public.kern2._y_right</key>
  <array>
    <string>v</string>
    <string>y</string>
    <string>yacute</string>
  </array>
</dict>
</plist>
