<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>zoneppm</key>
    <integer>60</integer>
    <key>zones</key>
    <dict>
      <key>b: 0</key>
      <dict>
        <key>position</key>
        <integer>0</integer>
        <key>width</key>
        <integer>13</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>dsc</key>
      <dict>
        <key>position</key>
        <integer>-200</integer>
        <key>width</key>
        <integer>13</integer>
        <key>top</key>
        <false/>
        <key>delta</key>
        <dict>
          <key>17</key>
          <integer>-8</integer>
          <key>22</key>
          <integer>-8</integer>
          <key>37</key>
          <integer>-8</integer>
        </dict>
      </dict>
      <key>sup_b</key>
      <dict>
        <key>position</key>
        <integer>380</integer>
        <key>width</key>
        <integer>12</integer>
        <key>top</key>
        <false/>
        <key>delta</key>
        <dict>
          <key>12</key>
          <integer>-8</integer>
          <key>15</key>
          <integer>-8</integer>
          <key>23</key>
          <integer>-8</integer>
          <key>33</key>
          <integer>-8</integer>
          <key>39</key>
          <integer>-8</integer>
          <key>41</key>
          <integer>-8</integer>
          <key>44</key>
          <integer>-8</integer>
        </dict>
      </dict>
      <key>accent</key>
      <dict>
        <key>position</key>
        <integer>595</integer>
        <key>width</key>
        <integer>25</integer>
        <key>top</key>
        <false/>
        <key>delta</key>
        <dict>
          <key>9</key>
          <integer>8</integer>
          <key>16</key>
          <integer>-8</integer>
          <key>21</key>
          <integer>-8</integer>
          <key>23</key>
          <integer>-8</integer>
          <key>25</key>
          <integer>-8</integer>
          <key>33</key>
          <integer>-8</integer>
          <key>38</key>
          <integer>-8</integer>
          <key>40</key>
          <integer>-8</integer>
          <key>53</key>
          <integer>-8</integer>
          <key>55</key>
          <integer>-8</integer>
        </dict>
      </dict>
      <key>Accent</key>
      <dict>
        <key>position</key>
        <integer>755</integer>
        <key>width</key>
        <integer>25</integer>
        <key>top</key>
        <false/>
        <key>delta</key>
        <dict>
          <key>9</key>
          <integer>8</integer>
          <key>11</key>
          <integer>8</integer>
          <key>15</key>
          <integer>8</integer>
          <key>29</key>
          <integer>-8</integer>
          <key>30</key>
          <integer>-8</integer>
          <key>35</key>
          <integer>8</integer>
          <key>39</key>
          <integer>8</integer>
          <key>42</key>
          <integer>-8</integer>
          <key>46</key>
          <integer>-8</integer>
          <key>52</key>
          <integer>8</integer>
          <key>56</key>
          <integer>8</integer>
        </dict>
      </dict>
      <key>lc</key>
      <dict>
        <key>position</key>
        <integer>530</integer>
        <key>width</key>
        <integer>13</integer>
        <key>top</key>
        <true/>
        <key>delta</key>
        <dict>
          <key>48</key>
          <integer>8</integer>
        </dict>
      </dict>
      <key>uc</key>
      <dict>
        <key>position</key>
        <integer>700</integer>
        <key>width</key>
        <integer>13</integer>
        <key>top</key>
        <true/>
        <key>delta</key>
        <dict>
          <key>9</key>
          <integer>8</integer>
          <key>22</key>
          <integer>8</integer>
          <key>26</key>
          <integer>8</integer>
          <key>32</key>
          <integer>8</integer>
          <key>39</key>
          <integer>8</integer>
          <key>52</key>
          <integer>8</integer>
          <key>56</key>
          <integer>8</integer>
        </dict>
      </dict>
      <key>sup</key>
      <dict>
        <key>position</key>
        <integer>780</integer>
        <key>width</key>
        <integer>13</integer>
        <key>top</key>
        <true/>
        <key>delta</key>
        <dict>
          <key>16</key>
          <integer>8</integer>
          <key>18</key>
          <integer>8</integer>
          <key>21</key>
          <integer>8</integer>
          <key>30</key>
          <integer>8</integer>
          <key>31</key>
          <integer>8</integer>
          <key>40</key>
          <integer>8</integer>
          <key>54</key>
          <integer>8</integer>
          <key>56</key>
          <integer>-8</integer>
        </dict>
      </dict>
    </dict>
    <key>stems</key>
    <dict>
      <key>ae: 82</key>
      <dict>
        <key>width</key>
        <integer>82</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>15</key>
          <integer>2</integer>
          <key>30</key>
          <integer>3</integer>
          <key>41</key>
          <integer>4</integer>
          <key>54</key>
          <integer>5</integer>
          <key>68</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>cyr: 94</key>
      <dict>
        <key>width</key>
        <integer>94</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>15</key>
          <integer>2</integer>
          <key>26</key>
          <integer>3</integer>
          <key>35</key>
          <integer>4</integer>
          <key>45</key>
          <integer>5</integer>
          <key>56</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>asg: 96</key>
      <dict>
        <key>width</key>
        <integer>96</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>15</key>
          <integer>2</integer>
          <key>26</key>
          <integer>3</integer>
          <key>35</key>
          <integer>4</integer>
          <key>45</key>
          <integer>5</integer>
          <key>56</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>e: 96</key>
      <dict>
        <key>width</key>
        <integer>96</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>15</key>
          <integer>2</integer>
          <key>26</key>
          <integer>3</integer>
          <key>35</key>
          <integer>4</integer>
          <key>45</key>
          <integer>5</integer>
          <key>56</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>ond: 96</key>
      <dict>
        <key>width</key>
        <integer>96</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>15</key>
          <integer>2</integer>
          <key>26</key>
          <integer>3</integer>
          <key>35</key>
          <integer>4</integer>
          <key>45</key>
          <integer>5</integer>
          <key>56</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>BES: 104</key>
      <dict>
        <key>width</key>
        <integer>104</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>15</key>
          <integer>2</integer>
          <key>26</key>
          <integer>3</integer>
          <key>35</key>
          <integer>4</integer>
          <key>45</key>
          <integer>5</integer>
          <key>56</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>OH: 104</key>
      <dict>
        <key>width</key>
        <integer>104</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>15</key>
          <integer>2</integer>
          <key>26</key>
          <integer>3</integer>
          <key>35</key>
          <integer>4</integer>
          <key>45</key>
          <integer>5</integer>
          <key>56</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>period: 160</key>
      <dict>
        <key>width</key>
        <integer>160</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>11</key>
          <integer>2</integer>
          <key>17</key>
          <integer>3</integer>
          <key>22</key>
          <integer>4</integer>
          <key>30</key>
          <integer>5</integer>
          <key>35</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>acute_cyr: 160</key>
      <dict>
        <key>width</key>
        <integer>160</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>9</key>
          <integer>2</integer>
          <key>16</key>
          <integer>3</integer>
          <key>23</key>
          <integer>4</integer>
          <key>29</key>
          <integer>5</integer>
          <key>36</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>tilde: 130</key>
      <dict>
        <key>width</key>
        <integer>130</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>9</key>
          <integer>2</integer>
          <key>19</key>
          <integer>3</integer>
          <key>26</key>
          <integer>4</integer>
          <key>34</key>
          <integer>5</integer>
          <key>42</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>dieres: 132</key>
      <dict>
        <key>width</key>
        <integer>132</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>12</key>
          <integer>2</integer>
          <key>19</key>
          <integer>3</integer>
          <key>26</key>
          <integer>4</integer>
          <key>35</key>
          <integer>5</integer>
          <key>41</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>ring_Ring: 225</key>
      <dict>
        <key>width</key>
        <integer>225</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>7</key>
          <integer>2</integer>
          <key>11</key>
          <integer>3</integer>
          <key>16</key>
          <integer>4</integer>
          <key>20</key>
          <integer>5</integer>
          <key>25</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>Acute_Cyr: 150</key>
      <dict>
        <key>width</key>
        <integer>150</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>9</key>
          <integer>2</integer>
          <key>16</key>
          <integer>3</integer>
          <key>23</key>
          <integer>4</integer>
          <key>29</key>
          <integer>5</integer>
          <key>36</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>Tilde_cyrbre: 140</key>
      <dict>
        <key>width</key>
        <integer>140</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>9</key>
          <integer>2</integer>
          <key>19</key>
          <integer>3</integer>
          <key>26</key>
          <integer>4</integer>
          <key>34</key>
          <integer>5</integer>
          <key>42</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>Euro: 94</key>
      <dict>
        <key>width</key>
        <integer>94</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>17</key>
          <integer>2</integer>
          <key>28</key>
          <integer>3</integer>
          <key>38</key>
          <integer>4</integer>
          <key>48</key>
          <integer>5</integer>
          <key>59</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>sup_ordfem: 88</key>
      <dict>
        <key>width</key>
        <integer>88</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>18</key>
          <integer>2</integer>
          <key>29</key>
          <integer>3</integer>
          <key>40</key>
          <integer>4</integer>
          <key>51</key>
          <integer>5</integer>
          <key>63</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>f: 96</key>
      <dict>
        <key>width</key>
        <integer>96</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>15</key>
          <integer>2</integer>
          <key>26</key>
          <integer>3</integer>
          <key>35</key>
          <integer>4</integer>
          <key>45</key>
          <integer>5</integer>
          <key>56</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>bar: 86</key>
      <dict>
        <key>width</key>
        <integer>86</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>18</key>
          <integer>2</integer>
          <key>30</key>
          <integer>3</integer>
          <key>41</key>
          <integer>4</integer>
          <key>54</key>
          <integer>5</integer>
          <key>64</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>Dieresis_dot: 140</key>
      <dict>
        <key>width</key>
        <integer>140</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>12</key>
          <integer>2</integer>
          <key>19</key>
          <integer>3</integer>
          <key>26</key>
          <integer>4</integer>
          <key>34</key>
          <integer>5</integer>
          <key>41</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>cyrBreve: 160</key>
      <dict>
        <key>width</key>
        <integer>160</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>9</key>
          <integer>2</integer>
          <key>16</key>
          <integer>3</integer>
          <key>22</key>
          <integer>4</integer>
          <key>29</key>
          <integer>5</integer>
          <key>35</key>
          <integer>6</integer>
        </dict>
      </dict>
    </dict>
  </dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>.null</string>
    <string>uni000D</string>
    <string>space</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>grave</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>uni00A0</string>
    <string>exclamdown</string>
    <string>cent</string>
    <string>sterling</string>
    <string>currency</string>
    <string>yen</string>
    <string>brokenbar</string>
    <string>section</string>
    <string>dieresis</string>
    <string>copyright</string>
    <string>ordfeminine</string>
    <string>guillemotleft</string>
    <string>logicalnot</string>
    <string>uni00AD</string>
    <string>registered</string>
    <string>macron</string>
    <string>degree</string>
    <string>plusminus</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>acute</string>
    <string>mu</string>
    <string>paragraph</string>
    <string>periodcentered</string>
    <string>cedilla</string>
    <string>onesuperior</string>
    <string>ordmasculine</string>
    <string>guillemotright</string>
    <string>onequarter</string>
    <string>onehalf</string>
    <string>threequarters</string>
    <string>questiondown</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>AE</string>
    <string>Ccedilla</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Eth</string>
    <string>Ntilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>multiply</string>
    <string>Oslash</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Yacute</string>
    <string>Thorn</string>
    <string>germandbls</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>aring</string>
    <string>ae</string>
    <string>ccedilla</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>eth</string>
    <string>ntilde</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>divide</string>
    <string>oslash</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>yacute</string>
    <string>thorn</string>
    <string>ydieresis</string>
    <string>dotlessi</string>
    <string>Lslash</string>
    <string>lslash</string>
    <string>OE</string>
    <string>oe</string>
    <string>Scaron</string>
    <string>scaron</string>
    <string>Ydieresis</string>
    <string>Zcaron</string>
    <string>zcaron</string>
    <string>florin</string>
    <string>dotlessj</string>
    <string>afii57929</string>
    <string>circumflex</string>
    <string>caron</string>
    <string>dotaccent</string>
    <string>ring</string>
    <string>tilde</string>
    <string>hungarumlaut</string>
    <string>afii10023</string>
    <string>afii10051</string>
    <string>afii10052</string>
    <string>afii10053</string>
    <string>afii10054</string>
    <string>afii10055</string>
    <string>afii10056</string>
    <string>afii10057</string>
    <string>afii10058</string>
    <string>afii10059</string>
    <string>afii10060</string>
    <string>afii10061</string>
    <string>afii10062</string>
    <string>afii10145</string>
    <string>afii10017</string>
    <string>afii10018</string>
    <string>afii10019</string>
    <string>afii10020</string>
    <string>afii10021</string>
    <string>afii10022</string>
    <string>afii10024</string>
    <string>afii10025</string>
    <string>afii10026</string>
    <string>afii10027</string>
    <string>afii10028</string>
    <string>afii10029</string>
    <string>afii10030</string>
    <string>afii10031</string>
    <string>afii10032</string>
    <string>afii10033</string>
    <string>afii10034</string>
    <string>afii10035</string>
    <string>afii10036</string>
    <string>afii10037</string>
    <string>afii10038</string>
    <string>afii10039</string>
    <string>afii10040</string>
    <string>afii10041</string>
    <string>afii10042</string>
    <string>afii10043</string>
    <string>afii10044</string>
    <string>afii10045</string>
    <string>afii10046</string>
    <string>afii10047</string>
    <string>afii10048</string>
    <string>afii10049</string>
    <string>afii10065</string>
    <string>afii10066</string>
    <string>afii10067</string>
    <string>afii10068</string>
    <string>afii10069</string>
    <string>afii10070</string>
    <string>afii10072</string>
    <string>afii10073</string>
    <string>afii10074</string>
    <string>afii10075</string>
    <string>afii10076</string>
    <string>afii10077</string>
    <string>afii10078</string>
    <string>afii10079</string>
    <string>afii10080</string>
    <string>afii10081</string>
    <string>afii10082</string>
    <string>afii10083</string>
    <string>afii10084</string>
    <string>afii10085</string>
    <string>afii10086</string>
    <string>afii10087</string>
    <string>afii10088</string>
    <string>afii10089</string>
    <string>afii10090</string>
    <string>afii10091</string>
    <string>afii10092</string>
    <string>afii10093</string>
    <string>afii10094</string>
    <string>afii10095</string>
    <string>afii10096</string>
    <string>afii10097</string>
    <string>afii10071</string>
    <string>afii10099</string>
    <string>afii10100</string>
    <string>afii10101</string>
    <string>afii10102</string>
    <string>afii10103</string>
    <string>afii10104</string>
    <string>afii10105</string>
    <string>afii10106</string>
    <string>afii10107</string>
    <string>afii10108</string>
    <string>afii10109</string>
    <string>afii10110</string>
    <string>afii10193</string>
    <string>afii10050</string>
    <string>afii10098</string>
    <string>cyrGebar</string>
    <string>cyrgebar</string>
    <string>cyrGehook</string>
    <string>cyrgehook</string>
    <string>uni0496</string>
    <string>uni0497</string>
    <string>cyrZetail</string>
    <string>cyrzetail</string>
    <string>cyrKadesc</string>
    <string>cyrkadesc</string>
    <string>cyrKavertbar</string>
    <string>cyrkavertbar</string>
    <string>cyrKaback</string>
    <string>cyrkaback</string>
    <string>uni04A2</string>
    <string>uni04A3</string>
    <string>cyrEnGe</string>
    <string>cyrenge</string>
    <string>cyrEstail</string>
    <string>cyrestail</string>
    <string>uni04AE</string>
    <string>uni04AF</string>
    <string>cyrstraightUbar</string>
    <string>cyrstraightubar</string>
    <string>cyrHadesc</string>
    <string>cyrhadesc</string>
    <string>cyrChedesc</string>
    <string>cyrchedesc</string>
    <string>cyrChevertbar</string>
    <string>cyrchevertbar</string>
    <string>uni04BA</string>
    <string>uni04BB</string>
    <string>cyrI</string>
    <string>cyrKahook</string>
    <string>cyrkahook</string>
    <string>cyrEnhook</string>
    <string>cyrenhook</string>
    <string>cyrChedescleft</string>
    <string>cyrchedescleft</string>
    <string>uni04CF</string>
    <string>cyrAcyrbreve</string>
    <string>cyracyrbreve</string>
    <string>cyrAdieresis</string>
    <string>cyradieresis</string>
    <string>cyrAE</string>
    <string>cyrae</string>
    <string>cyrIecyrbreve</string>
    <string>cyriecyrbreve</string>
    <string>uni04D8</string>
    <string>uni04D9</string>
    <string>cyrinvEdieresis</string>
    <string>cyrinvedieresis</string>
    <string>cyrZhedieresis</string>
    <string>cyrzhedieresis</string>
    <string>cyrZedieresis</string>
    <string>cyrzedieresis</string>
    <string>cyrImacron</string>
    <string>cyrimacron</string>
    <string>cyrIdieresis</string>
    <string>cyridieresis</string>
    <string>cyrOdieresis</string>
    <string>cyrodieresis</string>
    <string>uni04E8</string>
    <string>uni04E9</string>
    <string>cyrObardieresis</string>
    <string>cyrobardieresis</string>
    <string>cyrUmacron</string>
    <string>cyrumacron</string>
    <string>cyrUdieresis</string>
    <string>cyrudieresis</string>
    <string>cyrUdblacute</string>
    <string>cyrudblacute</string>
    <string>cyrChedieresis</string>
    <string>cyrchedieresis</string>
    <string>cyrYerudieresis</string>
    <string>cyryerudieresis</string>
    <string>uni0512</string>
    <string>uni0513</string>
    <string>Germandbls</string>
    <string>uni2009</string>
    <string>uni2010</string>
    <string>uni2011</string>
    <string>figuredash</string>
    <string>endash</string>
    <string>emdash</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotesinglbase</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quotedblbase</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>bullet</string>
    <string>ellipsis</string>
    <string>uni202F</string>
    <string>perthousand</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>fraction</string>
    <string>foursuperior</string>
    <string>Euro</string>
    <string>uni20B4</string>
    <string>uni20B8</string>
    <string>uni20BD</string>
    <string>afii61352</string>
    <string>trademark</string>
    <string>arrowleft</string>
    <string>arrowup</string>
    <string>arrowright</string>
    <string>arrowdown</string>
    <string>arrownorthwest</string>
    <string>arrownortheast</string>
    <string>arrowsoutheast</string>
    <string>arrowsouthwest</string>
    <string>Delta</string>
    <string>minus</string>
    <string>division</string>
    <string>radical</string>
    <string>approxequal</string>
    <string>lessequal</string>
    <string>greaterequal</string>
    <string>angleleft</string>
    <string>angleright</string>
    <string>accent</string>
    <string>Accent</string>
    <string>Cedilla</string>
    <string>Circumflex</string>
    <string>Apostrophe</string>
    <string>Dotaccent</string>
    <string>Ring</string>
    <string>Tilde</string>
    <string>cyrEstail.alt02</string>
    <string>cyrestail.alt02</string>
    <string>cyrYerucyrbreve</string>
    <string>cyryerucyrbreve</string>
    <string>cyrGebar.alt</string>
    <string>cyrgebar.alt</string>
    <string>uniF6BA</string>
    <string>uniF6BB</string>
    <string>uniF6BC</string>
    <string>Acute</string>
    <string>Caron</string>
    <string>Dieresis</string>
    <string>Grave</string>
    <string>Hungarumlaut</string>
    <string>Macron</string>
    <string>cyrBreve</string>
    <string>cyrbreve</string>
    <string>zerooldstyle</string>
    <string>oneoldstyle</string>
    <string>twooldstyle</string>
    <string>threeoldstyle</string>
    <string>fouroldstyle</string>
    <string>fiveoldstyle</string>
    <string>sixoldstyle</string>
    <string>sevenoldstyle</string>
    <string>eightoldstyle</string>
    <string>nineoldstyle</string>
    <string>uniFEFF</string>
    <string>numbersign.tab</string>
    <string>dollar.tab</string>
    <string>plus.tab</string>
    <string>zero.tab</string>
    <string>one.tab</string>
    <string>two.tab</string>
    <string>three.tab</string>
    <string>four.tab</string>
    <string>five.tab</string>
    <string>six.tab</string>
    <string>seven.tab</string>
    <string>eight.tab</string>
    <string>nine.tab</string>
    <string>less.tab</string>
    <string>equal.tab</string>
    <string>greater.tab</string>
    <string>asciitilde.tab</string>
    <string>cent.tab</string>
    <string>currency.tab</string>
    <string>yen.tab</string>
    <string>logicalnot.tab</string>
    <string>plusminus.tab</string>
    <string>multiply.tab</string>
    <string>divide.tab</string>
    <string>Euro.tab</string>
    <string>uni20B4.tab</string>
    <string>uni20B8.tab</string>
    <string>uni20BD.tab</string>
    <string>Delta.tab</string>
    <string>minus.tab</string>
    <string>division.tab</string>
    <string>radical.tab</string>
    <string>approxequal.tab</string>
    <string>lessequal.tab</string>
    <string>greaterequal.tab</string>
    <string>zerooldstyle.tab</string>
    <string>oneoldstyle.tab</string>
    <string>twooldstyle.tab</string>
    <string>threeoldstyle.tab</string>
    <string>fouroldstyle.tab</string>
    <string>fiveoldstyle.tab</string>
    <string>sixoldstyle.tab</string>
    <string>sevenoldstyle.tab</string>
    <string>eightoldstyle.tab</string>
    <string>nineoldstyle.tab</string>
    <string>wordjoiner</string>
    <string>parenleft.case</string>
    <string>parenright.case</string>
    <string>bracketleft.case</string>
    <string>bracketright.case</string>
    <string>braceleft.case</string>
    <string>braceright.case</string>
  </array>
</dict>
</plist>
